<!-- Loading the db us disbursement Header -->
<app-db-us-disbursement-header></app-db-us-disbursement-header>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Loading the side navbar -->
        <app-db-us-disbursement-sidenav class="col-sm-2"></app-db-us-disbursement-sidenav>
        <!-- Loading the db us disbursement dashboard -->
        <span style="clear:both"></span>
        <app-db-us-disbursement-dashboard class="col-sm-10"></app-db-us-disbursement-dashboard>
        <span style="clear:both"></span>
    </div>
</div>