<div class="bg-dark sidenav">
  <a><button mat-button [matMenuTriggerFor]="menu">Issue Management</button></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Issue</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu">Exceptions</button></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Issue</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu">Stop Payment</button></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Issue</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu">Admin tools</button></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Issue</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu">Reports</button></a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Create Issue</button>
  </mat-menu>
</div>
