<div class="bg-light sidenav">
  <a><button mat-button [matMenuTriggerFor]="menu1">Issue Management</button></a>
  <mat-menu #menu1="matMenu">
    <button [routerLink]="['issue-management/create-issue']" mat-menu-item>Create Issue</button>
    <button [routerLink]="['issue-management/authorize-issues']" mat-menu-item>Authorize Issues</button>
    <button [routerLink]="['issue-management/import-issues']" mat-menu-item>Import Issues</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu2">Exceptions</button></a>
  <mat-menu #menu2="matMenu">
    <button [routerLink]="['exception-management/create-exception']" mat-menu-item>Create Exception</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu3">Stop Payment</button></a>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item>Stop Payment</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu4">Admin tools</button></a>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item>Tool1</button>
    <button mat-menu-item>Tool2</button>
    <button mat-menu-item>Tool3</button>
    <button mat-menu-item>Tool4</button>
  </mat-menu>
  <a><button mat-button [matMenuTriggerFor]="menu5">Reports</button></a>
  <mat-menu #menu5="matMenu">
    <button mat-menu-item>Download Issue</button>
  </mat-menu>
</div>

<!-- 
 <div class="navLinks">
  <a [routerLink]="['issue-management']">Home</a>
  <a [routerLink]="['exception-management']">About Us</a>
  <a [routerLink]="['dashboard']">Contact Us</a>
</div> -->